body{
font-family:Arial;
margin:0;
background:#f4f6f8;
}

header{
background:#111;
color:white;
display:flex;
justify-content:space-between;
padding:20px;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
text-align:center;
padding:100px;
background:#4a6cf7;
color:white;
}

.cards{
display:flex;
gap:20px;
padding:40px;
justify-content:center;
}

.card{
background:white;
padding:20px;
border-radius:10px;
width:200px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

footer{
text-align:center;
padding:20px;
background:#111;
color:white;
}
